*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  max-width: 1440px;
  margin: auto;
  text-align: center;
  position: relative;
}

.card{
  position: relative;
  display: inline-block;
  width: 250px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1.5px 3px rgba(0,0,0,1), 0 1.5px 3px rgba(0,0,0,1);
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover{
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
.card:hover::after{
  opacity: 1;
}

.card-body{
  padding: 30px;
}

.country-body h2 {
  margin-top: 0;
}

.flags{
  max-width: 100%;
}

#navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100px;
  width: 100%;
  background-color: rgba(248, 173, 12, 0.678);
  margin-top: -100px;
  z-index: -10;
}

.navbar-link{
  text-decoration: none;
  color: #fff;
}

#main {
  position: relative;
  height: 110px;
  width: 100%;
  background-color: rgb(250, 68, 68);
}

/* #sub {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: rgba(248, 173, 12, 0.678);
  margin-top: -100px;
  z-index: -10;
  
} */

#menu > #navbar {
  transition: margin-top 2s ease;
}
#menu:hover > #navbar {
  margin-top: 0;
  transition: margin-top 2s ease;
}