.containner{
  display: flex;
}

.country{
  max-width: 300px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 1.5px 2px rgba(0,0,0,0.08);
  overflow: hidden;
}

.country-body{
  max-width: 300px;
}

.flags{
  max-width: 300px;
}